@model IEnumerable<UserViewModel>

@{
    ViewData["Title"] = "Index";
}

@section header {
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Users
}

<div class="panel">
    <div class="panel-heading main-color-bg">
        <h3 class="panel-title">
            <span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;&nbsp;Active Users
        </h3>
    </div>
    <div class="panel-body">
        <table border="0" class="table table-hover text-center">
            <thead>
                <tr>
                    <td><b>Name</b></td>
                    <td><b>Email</b></td>
                    <td><b>Contect Number</b></td>
                    <td><b>Role</b></td>
                    <td><b>City</b></td>
                    <td><b>Actions</b></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where (m => m.IsActive))
                {
                    <tr>
                        <td>@item.FirstName</td>
                        <td>@item.Email</td>
                        <td>@item.ContectNumber</td>
                        <td>@item.RoleViewModel.Title</td>
                        <td>
                            @if (item.AddressViewModel.City == "test")
                            {
                                <span>Not added</span>
                            }
                            else
                            {
                                @item.AddressViewModel.City
                            }
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.EncryptedId" class="btn btn-info">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.EncryptedId" class="btn btn-danger">Delete</a>
                            @Html.ActionLink("Edit Role", "UpdateRole", "Users", new
                            {
                                userId = item.EncryptedId,
                                roleId = item.EncryptedRoleId
                            }, new
                            {
                                @class = "btn btn-primary text-white"
                            })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading main-color-bg">
        <h3 class="panel-title">
            <span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;&nbsp;Non Active Users
        </h3>
    </div>
    <div class="panel-body">
        <table border="0" class="table table-hover text-center">
            <thead>
                <tr>
                    <td><b>Name</b></td>
                    <td><b>Email</b></td>
                    <td><b>Contect Number</b></td>
                    <td><b>Role</b></td>
                    <td><b>City</b></td>
                    <td><b>Actions</b></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where (m => m.IsActive == false))
                {
                    <tr>
                        <td>@item.FirstName</td>
                        <td>@item.Email</td>
                        <td>@item.ContectNumber</td>
                        <td>@item.RoleViewModel.Title</td>
                        <td>
                            @if (item.AddressViewModel.City == "test")
                            {
                                <span>Not added</span>
                            }
                            else
                            {
                                @item.AddressViewModel.City
                            }
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.EncryptedId" class="btn btn-info">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>