@model UserViewModel

@{
    ViewData["Title"] = "Profile";
}

<h1>User Profile</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Full Name
        </dt>
        <dd class = "col-sm-10">
            @Model.FirstName @Model.LastName
        </dd>
        <dt class = "col-sm-2">
            Email
        </dt>
        <dd class = "col-sm-10">
            @Model.Email
        </dd>
        <dt class = "col-sm-2">
            Contect Number
        </dt>
        <dd class = "col-sm-10">
            @Model.ContectNumber
        </dd>
        <dt class = "col-sm-2">
            Role
        </dt>
        <dd class = "col-sm-10">
            @Model.RoleViewModel.Title
        </dd>
        <dt class = "col-sm-2">
            Address
        </dt>
        <dd class="col-sm-10">
            @if (Model.AddressViewModel.AddressLine1 == "test")
            {
                <span>Address not set.</span><br />
                <a asp-action="UpdateAddress">Add</a>
            }
            else
            {
                <partial name="_Address" model="Model.AddressViewModel" />
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Update">Update Details</a>
</div>
