@model IEnumerable<RoleViewModel>

@{
    ViewData["Title"] = "Index";
}

@section header {
    User Roles
}

<p>
    <a href="#" class="btn btn-success text-white" onclick="CreateRole()">Create New</a>
</p>

<div class="card mb-4">
    <div class="card-header">
        <div class="row">
            <div class="col-md-3 text-center font-weight-bold">
                Id
            </div>
            <div class="col-md-3 text-center font-weight-bold">
                Role Title
            </div>
            <div class="col-md-3 text-center font-weight-bold">
                Number of Users
            </div>
            <div class="col-md-3 text-center font-weight-bold">
                Actions
            </div>
        </div>
    </div>
    <div class="card-body">
        @foreach (RoleViewModel role in Model)
        {
            <div class="row mb-1">
                <div class="col-md-3 text-center">
                    @role.Id
                </div>
                <div class="col-md-3 text-center">
                    @role.Title
                </div>
                <div class="col-md-3 text-center">
                    @role.UserViewModels.Count
                </div>
                <div class="col-md-3 text-center">
                    <a asp-action="Details" asp-route-id="@role.Id" class="btn btn-info text-white">Details</a>
                    <a class="btn btn-danger text-white" onclick="RemoveRole(@role.Id)">Delete</a>
                </div>
            </div>
        }
    </div>
</div>

<div class="modal fade" id="createRoleModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Create Role
                </h4>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <partial name="_CreateRolePartial" model="@(new RoleViewModel ())" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="removeRoleModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Remove Role
                </h4>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <div id="deleteContent"></div>
                <form method="post" asp-action="Remove">
                    <input type="hidden" id="roleId" name="roleId" />
                    <div style="padding-top: 10px">
                        <input type="submit" class="btn btn-success" value="Yes" />
                        <input type="button" class="btn btn-danger accept-policy" value="No" data-dismiss="modal" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function CreateRole() {
        $('#createRoleModal').modal();
    }

    function RemoveRole(roleId) {
        $('#roleId').val(roleId);
        $('#deleteContent').empty().append("Are you sure you want to remove role with Id : " + roleId + " ?");
        $('#removeRoleModal').modal();
    }
</script>