@model IEnumerable<RoleViewModel>

@{
    ViewData["Title"] = "Index";
}

@section header {
    <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;User Roles
}

<p>
    <a asp-action="Create" class="btn main-color-bg">Create New</a>
</p>

<div class="panel">
    <div class="panel-heading main-color-bg">
        <h3 class="panel-title">
            <span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;&nbsp;User Roles
        </h3>
    </div>
    <div class="panel-body">
        <table border="0" class="table table-hover text-center">
            <thead>
                <tr>
                    <td><b>Id</b></td>
                    <td><b>Role Title</b></td>
                    <td><b>Number of Users</b></td>
                    <td><b>Actions</b></td>
                </tr>
            </thead>
            <tbody>
                @foreach (RoleViewModel role in Model)
                {
                    <tr>
                        <td>@role.Id</td>
                        <td>@role.Title</td>
                        <td>@role.UserViewModels.Count</td>
                        <td>
                            <a asp-action="Details" asp-route-id="@role.Id" class="btn btn-info text-white">Details</a>
                            <a asp-action="Remove" asp-route-id="@role.Id" class="btn btn-danger text-white">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>