@model SlotViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsBooked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsBooked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParkingLotId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParkingLotId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SlotTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SlotTypeId)
        </dd>
    </dl>
</div>