@model ParkingLotViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Parking lot Details</h1>
<br />

<div class="card">
    <div class="card-header">
        <h3 class="card-title">@Model.Name<span> Parking lot</span></h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div style="border-right: 1px solid #D8D8D8">
                    <h4>Basic Info</h4>
                    <table border="0" cellpadding="5" width="100%">
                        <tr>
                            <td width="50%">Is Aproved</td>
                            <td width="50%">@(Model.IsAproved ? "Yes" : "No")</td>
                        </tr>
                        <tr>
                            <td width="50%">Is Active</td>
                            <td width="50%">@(Model.IsActive ? "Yes" : "No")</td>
                        </tr>
                        <tr>
                            <td>Number of 2 Wheel slots</td>
                            <td>@Model.SlotViewModels.Where(x => x.SlotTypeId == 1).Count()</td>
                        </tr>
                        <tr>
                            <td>Number of 4 Wheel slots</td>
                            <td>@Model.SlotViewModels.Where(x => x.SlotTypeId == 2).Count()</td>
                        </tr>
                        <tr>
                            <td>Number of booked slots</td>
                            <td>@Model.SlotViewModels.Where(x => x.IsBooked).Count()</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <h4>Address</h4>
                <partial name="_Address" model="Model.AddressViewModel" />
            </div>
        </div>
    </div>
    <div class="card-footer">
        <a class="btn btn-success text-white" onclick="UpdateParkingLot()">Update Details</a>
        <a asp-action="Manage" asp-controller="Slot" asp-route-id="@Model.Id" class="btn btn-info">Manage Slots</a>
    </div>
</div>

<div class="modal fade" id="updateParkingLotModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Parking Lot Details</h4>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <form asp-action="Update" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <input asp-for="Id" type="hidden" />
                    <input asp-for="IsActive" type="hidden" />
                    <input asp-for="IsAproved" type="hidden" />
                    <input asp-for="OwnerId" type="hidden" />
                    <input asp-for="AddressId" type="hidden" />

                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <a href="#" class="btn btn-danger text-white" data-dismiss="modal">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function UpdateParkingLot() {
        $('#updateParkingLotModal').modal();
    }
</script>