@model ParkingLotRequestdetailsModel

@{
    ViewData["Title"] = "Details";
}

@section header {
    <span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;&nbsp;Parking lot Details
}

<div class="row">
    <div class="col-md-4">
        <div class="panel">
            <div class="panel-heading main-color-bg">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;&nbsp;Basic Info
                </h3>
            </div>
            <div class="panel-body">
                <table border="0" class="table table-hover text-center">
                    <tr>
                        <td><b>Name</b></td>
                        <td>@Model.ParkingLot.Name</td>
                    </tr>
                    <tr>
                        <td><b>Is Aproved</b></td>
                        <td>@(Model.ParkingLot.IsAproved ? "Yes" : "No")</td>
                    </tr>
                    <tr>
                        <td><b>Is Active</b></td>
                        <td>@(Model.ParkingLot.IsActive ? "Yes" : "No")</td>
                    </tr>
                    <tr>
                        <td><b>Number of slots</b></td>
                        <td>@Model.ParkingLot.SlotViewModels.Count</td>
                    </tr>
                    <tr>
                        <td><b>Number of booked slots</b></td>
                        <td>@Model.ParkingLot.SlotViewModels.Where(x => x.IsBooked).Count()</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel">
            <div class="panel-heading main-color-bg">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;&nbsp;Address
                </h3>
            </div>
            <div class="panel-body">
                <partial name="_Address" model="Model.ParkingLot.AddressViewModel" />
                <br />
                <br />
            </div>
        </div>
    </div>
    <div class="col-md-5">

        <div class="panel">
            <div class="panel-heading main-color-bg">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;Owner Info
                </h3>
            </div>
            <div class="panel-body">
                <table border="0" class="table table-hover text-center">
                    <tr>
                        <td width="40%">Full Name</td>
                        <td width="60%">@Model.ParkingLot.OwnerViewModel.FirstName @Model.ParkingLot.OwnerViewModel.LastName</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>@Model.ParkingLot.OwnerViewModel.Email</td>
                    </tr>
                    <tr>
                        <td>Contect Number</td>
                        <td>@Model.ParkingLot.OwnerViewModel.ContectNumber</td>
                    </tr>
                </table>            
            </div>
            <div class="panel-footer">
                <a asp-action="Details" asp-controller="Users" asp-area="Admin" asp-route-id="@Model.ParkingLot.EncryptedOwnerId" 
                   class="btn main-color-bg">Full Details</a>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-heading main-color-bg">
        <h3 class="panel-title">
            <span class="glyphicon glyphicon-picture"></span>&nbsp;&nbsp;&nbsp;Images
        </h3>
    </div>
    <div class="panel-body">
        @if (Model.Images.Any ())
        {
            <div class="row">
                @foreach (string str in Model.Images)
                {
                    <div class="col-md-4" style="padding: 10px">
                        <img src="data:image/jpeg;base64, @str" class="img-thumbnail" style="height: 250px" />
                    </div>
                }
            </div>
        }
        else
        {
            <h4>None At the moment.</h4>
        }
    </div>
</div>

@if (!Model.ParkingLot.IsAproved)
{
    <div class="row mt-4">
        <div class="col-md-12 text-center">
            <form method="post" asp-action="Aprove">
                <input type="hidden" id="id" name="id" value="@Model.ParkingLot.EncryptedId" />
                <input type="submit" class="btn btn-lg btn-success" value="Aprove" />
                <input type="button" class="btn btn-lg btn-danger" value="Reject" />
            </form>
        </div>
    </div>
}